@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');


html, body {
    margin: 0;
    padding: 0;

}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    font-family: Roboto;
    font-size: 500%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    padding: 50px 300px 50px 300px;
    height: 100px;
    margin: auto;
    text-align: center, justify;
    font-family: Roboto;
    font-weight: thin;
    font-size: 140%;
    position:relative;
    color: black;
}

img {
    display: block;
    margin: auto;
  }

  h1 {
    font-family: Roboto;
    font-weight: light;
    font-size: 20px;
    margin-left: 300px;
  }

ul li {
    width: 600px;
    height: 20px;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Roboto;
    font-weight: light;
    position:relative
    
}
nav ul {
    
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        align-items: justify;
        align-content: center;
        height: 900;
        margin: 50px 50px 50px 50px;
        list-style-type: none;
        position: relative;
}


